body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-mulish: Mulish;
  --font-archivo: Archivo;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-3xl: 22px;
  --font-size-mini: 15px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: rgba(0, 0, 0, 0.5);

  /* border radiuses */
  --br-3xs: 10px;
  --br-mini: 15px;
  --br-11xl: 30px;
}
