.docfindr {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 140px;
  font-size: 35px;
  color: rgba(48, 8, 67, 0.87);
  display: inline-block;
  width: 167px;
  height: 51px;
}
.blog,
.doctors,
.medicines,
.patients,
.pharmacy {
  text-decoration: none;
  position: absolute;
  top: 33px;
  left: 523px;
  color: inherit;
}
.blog,
.medicines,
.patients,
.pharmacy {
  left: 695px;
}
.blog,
.patients,
.pharmacy {
  left: 887px;
}
.blog,
.pharmacy {
  left: 1063px;
}
.blog {
  left: 1258px;
}
.hero-section-child {
  position: absolute;
  top: 79.5px;
  left: -0.5px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.hero-section-inner,
.hero-section-item {
  padding-left: 1cm;
  border: 1px solid var(--color-gray-100);
  background-color: var(--color-white);
  position: absolute;
  top: 114px;
  left: 140px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 298px;
  height: 47px;
}
.hero-section-inner {
  left: 483px;
  width: 294px;
}
.location-icon,
.magnifiying-glass-icon {
  position: absolute;
  top: 125px;
  left: 493px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.location-icon {
  left: 150px;
}
.rectangle-div {
  position: absolute;
  top: 558px;
  left: 140px;
  border-radius: 42px;
  background: linear-gradient(
    -86.07deg,
    rgba(231, 222, 222, 0.44) 3.21%,
    rgba(145, 150, 191, 0.76) 43.18%,
    rgba(86, 84, 178, 0.68) 53.16%,
    rgba(145, 120, 216, 0.76) 77.56%,
    rgba(238, 58, 58, 0.72) 98.57%
  );
  width: 1160px;
  height: 384px;
}
.healthcare-made-easy {
  font-family: var(--font-poppins);
}
.b {
  color: var(--color-black);
}
.docfindr1 {
  font-weight: 900;
  color: #300843;
}
.find-your-perfect,
.healthcare-made-easy-container {
  position: absolute;
  left: 184px;
  font-family: var(--font-inter);
  display: inline-block;
}
.healthcare-made-easy-container {
  top: 607px;
  font-size: var(--font-size-11xl);
  width: 471px;
  height: 77px;
  color: var(--color-white);
}
.find-your-perfect {
  top: 690px;
  font-weight: 300;
  width: 466px;
  height: 60px;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #d9d9d9;
  position: absolute;
  top: 769px;
  left: 184px;
  border-radius: var(--br-mini);
  width: 130px;
  height: 45px;
}
.icon,
.join-us {
  position: absolute;
}
.join-us {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 780px;
  left: 209px;
  font-size: var(--font-size-3xl);
  font-weight: 700;
  font-family: var(--font-archivo);
  background: linear-gradient(95.26deg, #720909, rgba(82, 27, 152, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  display: inline-block;
  width: 89px;
  height: 27px;
}
.icon {
  top: 558px;
  left: 725px;
  border-radius: var(--br-11xl) var(--br-11xl) 45px 0;
  width: 575px;
  height: 384px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.hero-section-child1,
.search {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.hero-section-child1 {
  border: 1px solid rgba(6, 11, 24, 0.3);
  top: 114px;
  left: 822px;
  border-radius: var(--br-mini);
  background: linear-gradient(
    93.21deg,
    rgba(236, 51, 107, 0.46) 18.4%,
    rgba(5, 3, 65, 0.46) 80.11%
  );
  box-sizing: border-box;
  width: 136px;
  height: 47px;
}

.search {
  border: 0;
  top: 123px;
  left: 852px;
  font-size: var(--font-size-3xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.hero-section-child2,
.hero-section-child3,
.hero-section-child4,
.rectangle-icon {
  position: absolute;
  top: 246px;
  left: 183px;
  border-radius: var(--br-3xs);
  width: 175px;
  height: 190px;
  object-fit: cover;
}
.hero-section-child2,
.hero-section-child3,
.hero-section-child4 {
  top: 249px;
  left: 486px;
  width: 172px;
}
.hero-section-child3,
.hero-section-child4 {
  left: 786px;
}
.hero-section-child4 {
  left: 1086px;
}
.experienced-doctors-near {
  position: absolute;
  top: 187px;
  left: 184px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 460px;
  height: 32px;
}
.dr-peter-parker,
.dr-steve-roger,
.dr-tony-stark,
.dr-wanda-maxima {
  text-decoration: none;
  position: absolute;
  top: 445px;
  left: 183px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 184px;
  height: 20px;
}
.dr-peter-parker,
.dr-steve-roger,
.dr-wanda-maxima {
  left: 486px;
  width: 219px;
}
.dr-peter-parker,
.dr-steve-roger {
  left: 790px;
  width: 173px;
}
.dr-steve-roger {
  left: 1086px;
}
.mit-katraj-pune,
.mit-katraj-pune1,
.mit-katraj-pune2,
.mit-katraj-pune3 {
  position: absolute;
  top: 471px;
  left: 183px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  display: inline-block;
  width: 199px;
  height: 22px;
}
.mit-katraj-pune1,
.mit-katraj-pune2,
.mit-katraj-pune3 {
  left: 486px;
}
.mit-katraj-pune2,
.mit-katraj-pune3 {
  left: 786px;
}
.mit-katraj-pune3 {
  left: 1086px;
}
.hero-section {
  position: absolute;
  top: 0;
  left: 32px;
  width: 1440px;
  height: 974px;
  overflow: hidden;
  font-family: var(--font-mulish);
}
.meet-our-team {
  position: absolute;
  top: 15px;
  left: 228px;
  display: inline-block;
  width: 986px;
  height: 52px;
}
.photo-gallery-child {
  position: absolute;
  top: 347px;
  left: 215px;
  width: 156px;
  height: 156px;
  object-fit: cover;
}
.photo-gallery-inner,
.photo-gallery-item {
  position: absolute;
  top: 365px;
  left: 848px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.photo-gallery-inner {
  top: 113px;
  left: 144px;
  width: 142px;
  height: 142px;
  mix-blend-mode: normal;
}
.ellipse-icon,
.photo-gallery-child1,
.photo-gallery-child2 {
  position: absolute;
  top: 203px;
  left: 656px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.photo-gallery-child1,
.photo-gallery-child2 {
  top: 125px;
  left: 1020px;
}
.photo-gallery-child2 {
  top: 365px;
  left: 1118px;
  width: 115px;
  height: 115px;
}
.photo-gallery-child3,
.photo-gallery-child4 {
  position: absolute;
  top: 362px;
  left: 491px;
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.photo-gallery-child4 {
  top: 190px;
  left: 371px;
  width: 120px;
  height: 120px;
  mix-blend-mode: normal;
}
.get-to-know {
  margin: 0;
}
.get-to-know-container {
  position: absolute;
  top: 56px;
  left: 326px;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  color: transparent;
  text-align: center;
  display: inline-block;
  width: 789px;
  height: 57px;
}
.photo-gallery {
  position: absolute;
  top: 974px;
  left: 32px;
  width: 1440px;
  height: 523px;
  overflow: hidden;
  font-size: 26px;
  color: #1b141a;
}
.mental-health-icon,
.our-mission-is {
  position: absolute;
  top: 31px;
  height: 60px;
}
.mental-health-icon {
  left: 147px;
  width: 60px;
  object-fit: cover;
}
.our-mission-is {
  left: 228px;
  font-weight: 500;
  display: inline-block;
  width: 492px;
}
.facebook,
.instagram,
.linkedin,
.twitter,
.youtube {
  text-decoration: none;
  position: absolute;
  top: 41px;
  left: 1034px;
  width: 40px;
  height: 40px;
  background-image: url(./public/youtube@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.facebook,
.instagram,
.linkedin,
.twitter {
  left: 1089px;
  background-image: url(./public/instagram@3x.png);
}
.facebook,
.linkedin,
.twitter {
  left: 1144px;
  background-image: url(./public/twitter@3x.png);
}
.facebook,
.linkedin {
  left: 1199px;
  background-image: url(./public/linkedin@3x.png);
}
.facebook {
  left: 1254px;
  background-image: url(./public/facebook@3x.png);
}
.frame-child {
  position: absolute;
  top: 114px;
  left: 136px;
  width: 1164px;
  height: 3px;
}
.contact-us-privacy,
.find-doctors-community {
  position: absolute;
  top: 151px;
  left: 135px;
  font-weight: 600;
}
.contact-us-privacy {
  left: 1002px;
}
.mental-health-parent {
  position: absolute;
  top: 1497px;
  left: 40px;
  background-color: #f0eeee;
  width: 1440px;
  height: 201px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.hero-section-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1698px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.dbpreference {
  position: absolute;
  top: 14%;
  left: 1000px;
  transform: translateY(-50%);
  color: burlywood;
  font-size: small;
}
